<h1>Instructions</h1>
<p>Inspirify works on using a collection of words in a database, then replacing them in a database of phrases.</p>

<h3>Phrase Structure</h3>

<p>When a phrase is created and added to the phrases document, it uses 'hashtags' to determine which words to replace later.
An example phrase may be: 'The #noun is very #adjective'. This phrase has two hashtags that will be replaced. #noun and
  #adjective.</p>

<p>This phrase will require the app to randomly look up two words: one noun from the nouns document, and one adjective from
the adjectives document. After looking these up, the app will replace #noun and #adjective with these chosen replacements.</p>

<p>For example, we might have a nouns document with the words: spotify, uber, airbnb, and a adjectives document with
  pretty, golden and cool. The app may randomly choose: spotify (as the noun) and golden (as the adjective).</p>

<p>Upon completing the look up, and replacing #noun and #adjective, the phrase now looks like this:</p>
<p>The spotify is very golden.</p>

<p>Seems simple enough, huh? Yeah. Me too thanks.</p>

<p></p>