<h1>Instructions</h1>
<p>Inspirify works on using a collection of words in a database, then replacing them in a database of phrases. The
current supported tags include: #noun #verb #adjective</p>

<h3>Phrase Structure</h3>

<p>When a phrase is created and added to the phrases document, it uses 'hashtags' to determine which words to replace later.
An example phrase may be: 'The #noun is very #adjective'. This phrase has two hashtags that will be replaced. #noun and
  #adjective.</p>

<p>This phrase will require the app to randomly look up two words: one noun from the nouns document, and one adjective from
the adjectives document. After looking these up, the app will replace #noun and #adjective with these chosen replacements.</p>

<p>For example, we might have a nouns document with the words: spotify, uber, airbnb, and a adjectives document with
  pretty, golden and cool. The app may randomly choose: spotify (as the noun) and golden (as the adjective).</p>

<p>Upon completing the look up, and replacing #noun and #adjective, the phrase now looks like this:</p>
<p>The spotify is very golden.</p>

<p>Seems simple enough, huh? Yeah. Me too thanks.</p>

<h3>Tags and Phrases: How do they fit together?</h3>
<p>For a universal document of words to play together well for legible phrases, the tags must be chosen well. Here are
a few guidelines to help you get started.</p>
<p>Nouns: aim for proper nouns. Most things sound better with proper nouns. But I can't stop you. So like, whatever.</p>
<p>Verbs: aim for current verbs. For example: doing, running, jumping. Although, past tense could work. I have no idea.
Why am I even here...</p>
<p>Adjectives: I don't think you can screw adjectives up. I don't know...</p>