<h1>Admin#index</h1>
<p>Find me in app/views/admin/index.html.erb</p>
<a href=<%=	new_noun_path  %>  >New Noun</a>
<a href=<%=	new_adjective_path  %>  >New Adjective</a>
<a href=<%=	new_phrase_path  %>  >New Phrase</a>