<br>
<%= render('layouts/admin_menu') %>
<br>
<h1>Admin</h1>
<p>Feed the beast, called a database. Please.</p>
<a href=<%=	new_noun_path  %>  >New Noun</a>
<a href=<%=	new_adjective_path  %>  >New Adjective</a>
<a href=<%=	new_phrase_path  %>  >New Phrase</a>