<h1>Admin</h1>
<p>Feed the beast, called a database. Please.</p>
<p>Use the above links to manage: nouns, adjectives, verbs & phrases</p>
<p>This page will have amazing information one day.</p>
<p>Like a dashboard... Or some fancy thing like that.</p>