<div class="slider fullscreen">
  <ul class="slides">
    <li class="" style="opacity: 0; transform: translateX(0px) translateY(0px);">
      <img src="http://lorempixel.com/1280/720/nature" class="background-down"> <!-- random image -->
      <div class="caption center-align">
        <h3>Inspirify</h3>
        <h5 class="light grey-text text-lighten-3"><%= @new_phrase	  %></h5>
        <br>
        <div style="margin-bottom: 30px">
          <a href="/" class="btn-hip ">Give me another!</a>
        </div>
        <div>
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- Inspirify-Main -->
          <ins class="adsbygoogle"
               style="display:inline-block;width:336px;height:280px"
               data-ad-client="ca-pub-3065518726054123"
               data-ad-slot="9450347491"></ins>
          <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
      </div>
    </li>
  </ul>
</div>