<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<p>One day this page will be pretty.</p>

<p>Todo: Fix app on crashing if database hasn't been seeded</p>

<%= @temp_phrase %>
<br>
<%= @noun_count %>
<br>
<%= @adjective_count %>
<br>
<%= @new_phrase %>