<h1>Inspirify</h1>
<p>Feed me data in the Admin page</p>

<p>One day this page will be pretty.</p>

<p>Todo: Fix app on crashing if database hasn't been seeded</p>

<h2>Today's Quote</h2>
<%= @new_phrase %>
<br>