<div class="navbar-fixed">
  <nav class="navbar-push-up">
    <div class="nav-wrapper">
      <ul class="right hide-on-med-and-down">
        <li><a href="https://github.com/byronmejia/inspirify">Source Code</a></li>
        <li><a href=<%= instructions_index_path  %>>Instructions</a></li>
        <li><a href=<%=	admin_index_path  %>>Admin</a></li>
      </ul>
    </div>
  </nav>
</div>
